.cardContainer {
  background: var(--card-background);
  border-radius: 0.313rem;
  border: 1px solid #E1E3E6;
  color: var(--card-title);

  padding: 1.5rem;

  text-align: left;
  display: flex;
  justify-content: space-between;
}

.cardContainer:hover {
  border-left: 3px solid var(--secundary-hover);
  background: linear-gradient(90deg, rgba(250,156,45,0.3) 0.45%, rgba(252,253,255,0.1) 31.4%), white;
}

.cardContainer:hover .id {
  color: var(--secundary);
}

.jobDataContainer {
  display: flex;
  gap: 1rem;
  align-items:center;
}

.jobDataContainer span:last-child {
  font-weight: 600;
  font-size: 1.55rem;
}

.remainingDaysContainer,
.priceContainer {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.remainingDaysContainer span:last-child ,
.priceContainer span:last-child {
  font-weight: 500;
}

.remainingDaysContainer span:first-child ,
.priceContainer span:first-child {
  opacity: .68;
}

.statusContainer {
  font-weight: 600;
  height: 2.5rem;
  width: 9.3125rem;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: tomato;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions img {
  padding: .05rem .45rem;
  border-radius: 5px;
  border: 1.75px solid var(--hairline-in-light);
}

.actions img:hover {
  background: var(--card-label);
}
