.button {
  padding: 0.75rem 3rem;
  border-radius: 0.313rem;
  border: 0;
  
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;

  transition: all .2s;

  cursor:pointer;

  display: inline-flex;
  justify-content:center;
  align-items: center;
  gap: 1rem;
  
  line-height: 1.5rem;

  width: 15rem;
  height: 3rem;

  padding: 0;

  color: var(--button-text);
  margin-top: -3rem;
}

.button:hover {
  opacity: .8;
}
