.modal {
  height: 340px;
  width: 448px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
  color: var(--card-content);
  background: var(--background);
}

.modal img {
  height: 48px;
  filter: invert(100%);
}

.modal h2 {
  font-weight: 700;
  font-size: 2.25rem;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  font-size: .92rem;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 1.25rem;
}

.actions span {
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 3rem;

  border-radius: 0.313rem;
  border: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;

  cursor:pointer;
}

.actions span:hover {
  opacity: .8;
}

.cancel {
  background: var(--cancel);
  color: var(--card-content);
}

.delete {
  background: var(--delete);
  color: var(--card-background);
}
