.overlay {
  background: var(--overlay);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal {
  background: var(--background);
  height: 20.625rem;
  width: 65.0625rem;
  border-radius: 24px;
}