.sliderContainer {
    position: relative;
    width: 60px;
    height: 15px;
    border-radius: 12px;
    border: 1px solid var(--card-label);
}

.thumb {
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 50px;
    background: white;
    top: -1.55px;
    left: -1px;
    transition: all .2s ease;
}
