:root {
    --background: #f0f2f5;
    --text: #fcfdff;

    --primary: #41414c;
    --secundary: #f1972c;
    --secundary-hover: #fa9c2d;


    --input-background: #f8f8fc;
    --button-text: #fff;
    --hairline-in-dark:#4f4f5b;
    --hairline-in-light: #e1e3e5;

    --card-background: var(--text);
    --card-title: #5a5a66;
    --card-label: #bfbfcc;
    --card-content: #787880;
    
    --cancel: var(--hairline-in-light);
    --delete: #eb3b35;
    --delete-hover: #fa3f38;
    --save: #36b336;
    --save-hover: #02cc02;
    
    --badge-progress-text: var(--save);
    --badge-progress-background: #E8F8E8;
    --badge-done-text: var(--delete);
    --badge-done-background: #FAECEB;

    --header-inner-title: var(--card-label);

    --overlay: rgba(0,0,0,.48);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
}

.jobsContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: -2.75rem auto;
    overflow-y: scroll;
}

.filter {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: var(--card-label);
    font-weight: 400;
    font-size: .85rem;
    margin-bottom: -0.5rem;
}

.filter:hover {
    color: var(--secundary-hover);
}

.button {
    padding: 0.75rem 3rem;
    border-radius: 0.313rem;
    border: 0;
    
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
  
    transition: all .2s;
  
    cursor: pointer;
  
    display: inline-flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    
    line-height: 1.5rem;
    background: var(--secundary);
    color: var(--button-text);
  
    width: 15rem;
    height: 3rem;
  
    padding: 0;
}

.button:hover {
    background: var(--secundary-hover);
}

@media(max-width: 690px) {
    .button {
        width: 3rem;
    }

    .button p {
        display: none;
    }
}
